*{
        margin: 0;
        /* background-color: #AC91CD;  */
    }  
.fristhead{
    text-align: left;
    background: #1B3C53;
    /* height: 60px;
    width: 100%; */
    color: aquamarine;
    padding: 10px;
}
.secondhead{
    background-color: #FFFCFB;
    padding: 8px;
    text-align: center;
    margin-top: 0;
}
.main_div{
    display: flex;
}
.div1 , .div2, .div3 , .div4 , .div5{
    /* background-color: #456882; */
    width: 215px;
    height: 300px;
    margin: 8px;
    padding: 5px;
    border: 7px solid #2A1458;
    box-shadow: 10px 10px 10px #3D2A5D;
    border-radius: 10px;
}
.main_div{
    background-color: #572866;
    /* margin-top: 10PX; */
}
.anrbtn1,.anrbtn2,.anrbtn3,.anrbtn4,.anrbtn5{
    background-color: #9DB2BF;
    color: white;
    padding: 5px;
    text-decoration: none;
    border: 4px solid #71C9CE;
    border-radius: 15px;
}
.div_container_bitween{
    padding-bottom: 10px;
    text-align: center;
}
.main_container{
    background-color: #FFFCFB;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.frist_container{
    background-color: #FFFCFB;
    width: 750px;
    height: 400px;
     display: flex;
    justify-content: space-between;
}
.second_container{
    background-color: #EB6E9B;
    width:500px;
    height:400px;
   
}
.second_container_heading{
    padding: 10px;
    color: aliceblue;
}
.second_container_para{
    padding: 10px;
    color: aliceblue;
    padding-bottom: 30px;
}
.second_container_img{
    width:500px ;
    height: 190px;
}
.left_container{
    background-color: #826E8B;
    width: 365px;
    height: 400px;
}
.left_container_heading{
    /* padding: 10px; */
    margin-top:30px ;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 100px;
    /* background-color: #f4b3c7; */
}
.right_container{
    background-color: #2A1458;
    width: 365px;
    height: 400px;
}
.left_container_para{
    padding: 20px;
}
.left_container_photo{
    width: 365px;
    height: 185px;
}
.right_cintainer_heading{
    padding: 10px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 15px;
}
.right_cintainer_btn{
    background-color: #FFEAD8;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    margin-left: 130px;
    margin-top: 20px;
    border: 3px solid aqua;
    border-radius: 10px;
}
.right_container_para{
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 70px;
    color: aliceblue;
}
.container_section_bitween{
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}
.main_section{
    display: flex;
}
.frist_section1{
    width: 420px;
    height: 420px;
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;

}
.frist_section2{
    width: 380px;
    height: 420px;
    background-color: aliceblue;
     margin: 10px;
     padding: 10px;
}
.frist_heading{
    text-align: center;
    margin-bottom: 30px;
}
.frist_section3{
    width: 380px;
    height: 420px;
   background-color: aliceblue;
     margin: 10px;
     padding: 10px;
}
.reg_heading{
    text-align: center;
}
.input_name,.input_email,.input_password,.input_password2{
    border: 5px solid #FEEBF6;
    border-radius: 10px;
}
.input_btn{
    background-color:#1877F2 ;
    padding-left: 20px;
    padding-right: 20px;
    border: 1.54px solid black;
    border-radius: 15px;
}
span{
    text-decoration: underline;
    color: blue;
}
.list{
    list-style-type: none;
}
.section3_heading{
    text-align: center;
    margin-bottom: 30px;
}
.list2{
    list-style-type: none;
}